//section first
$color-f:rgb(255, 255, 255); //text-white
$bg-color-f:rgb(154, 160, 160);//backgroung header
$bg-color1-f:rgb(241, 210, 4); //button right
$bg-color2-f:rgb(138, 145, 151); // button left
//section second
$color1-s:rgb(84, 84, 84); //TITLE H2
$color2-s: rgb(146, 154, 156);//P
$bg-color-s:rgb(255, 255, 255);//bckground white
//section third
$bg-color-t:rgb(241, 241, 241); //background
//section fourth
$color-fo:rgb(241, 139, 109); // icon crimson div 1
$color1-fo:rgb(241, 210, 4); // icon yellow div 2
$color2-fo:rgb(106, 77, 138); // icon purple div 3
//section fifth
$bg-color-fi:rgb(34, 47, 54);//background
$color-fi:rgb(94, 94, 94); // TITLE H4
$color1-fi:rgb(187, 192, 194);//p

//section sixth
$bg-color-sixth:rgb(41, 40, 37);
//footer
$bg-footer:rgb(36, 35, 32);
$color-fo:rgb(104, 110, 110); //pour les span
$color1-fo:rgb(255, 255, 255);
